jupyter==1.0.0
jupytext==0.8.6
matplotlib==3.0.2
pandas==0.23.4
psycopg2-binary==2.7.6.1
pytest==4.1.1
SQLAlchemy==1.2.16
-e git+https://github.com/pajachiet/tableschema-py@master#egg=tableschema
-e git+https://github.com/pajachiet/table-schema-to-markdown@change-format-for-documentation-snds#egg=table-schema-to-markdown
-e git+https://github.com/pajachiet/tableschema-sql-py@feat-create-comment#egg=tableschema_sql

pytest-env
