jupyter
jupytext
goodtables
matplotlib
pandas
psycopg2-binary
python-dotenv
pytest
pytest-env
requests
SQLAlchemy
tsfaker==0.12
tableschema
-e git+https://github.com/pajachiet/table-schema-to-markdown@change-format-for-documentation-snds#egg=table-schema-to-markdown
tableschema-sql
unidecode
